@font-face {
    font-family: 'ostrich_sanscondensed_light';
    src: asset-url('ostrich-light-webfont.eot', font);
    src: asset-url('ostrich-light-webfont.eot?#iefix',font) format('embedded-opentype'),
         asset-url('ostrich-light-webfont.woff',font) format('woff'),
         asset-url('ostrich-light-webfont.ttf',font) format('truetype'),
         asset-url('ostrich-light-webfont.svg#ostrich_sanscondensed_light',font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: asset-url('ostrich-regular-webfont.eot',font);
    src: asset-url('ostrich-regular-webfont.eot?#iefix',font) format('embedded-opentype'),
         asset-url('ostrich-regular-webfont.woff',font) format('woff'),
         asset-url('ostrich-regular-webfont.ttf',font) format('truetype'),
         asset-url('ostrich-regular-webfont.svg#ostrich_sansmedium',font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: asset-url('ostrich-rounded-webfont.eot',font);
    src: asset-url('ostrich-rounded-webfont.eot?#iefix',font) format('embedded-opentype'),
         asset-url('ostrich-rounded-webfont.woff',font) format('woff'),
         asset-url('ostrich-rounded-webfont.ttf',font) format('truetype'),
         asset-url('ostrich-rounded-webfont.svg#ostrich_sans_roundedmedium',font) format('svg');
    font-weight: normal;
    font-style: normal;

}