@font-face {
    font-family: 'ostrich_sanscondensed_light';
    src: asset-url('fonts/ostrich-light-webfont.eot', image);
    src: asset-url('/assets/fonts/ostrich-light-webfont.eot?#iefix',image) format('embedded-opentype'),
         asset-url('/assets/fonts/ostrich-light-webfont.woff',image) format('woff'),
         asset-url('/assets/fonts/ostrich-light-webfont.ttf',image) format('truetype'),
         asset-url('/assets/fonts/ostrich-light-webfont.svg#ostrich_sanscondensed_light',image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: asset-url('/assets/fonts/ostrich-regular-webfont.eot',image);
    src: asset-url('/assets/fonts/ostrich-regular-webfont.eot?#iefix',image) format('embedded-opentype'),
         asset-url('/assets/fonts/ostrich-regular-webfont.woff',image) format('woff'),
         asset-url('/assets/fonts/ostrich-regular-webfont.ttf',image) format('truetype'),
         asset-url('/assets/fonts/ostrich-regular-webfont.svg#ostrich_sansmedium',image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: asset-url('/assets/fonts/ostrich-rounded-webfont.eot',image);
    src: asset-url('/assets/fonts/ostrich-rounded-webfont.eot?#iefix',image) format('embedded-opentype'),
         asset-url('/assets/fonts/ostrich-rounded-webfont.woff',image) format('woff'),
         asset-url('/assets/fonts/ostrich-rounded-webfont.ttf',image) format('truetype'),
         asset-url('/assets/fonts/ostrich-rounded-webfont.svg#ostrich_sans_roundedmedium',image) format('svg');
    font-weight: normal;
    font-style: normal;

}