/*
 *= require bootstrap.min.css
 *= require bootstrap-glyphicons.css
 *= require fonts
 *= require_self
 */

body
{
   background-color: #2E0927;
}

header
{
   text-align: center;
   padding: 50px 0;

   #logo
   {
      margin: 0 auto;
      width: 300px;
      background-image: asset-url('logo.png', image);
      background-repeat: no-repeat;
      font-family: "ostrich_sansmedium";
      font-size: 86px;
      color: white;
      padding-left: 80px;
      padding-top: 5px;
      text-decoration: none;

      &:hover {
         color: #ddd;
      }
   }
}

#login
{
   text-align: center;

   .page_title {
      font-size: 32px;
      color: white;
   }

   input {
      padding: 27px 15px;
      font-size: 22px;
   }

   button {
      font-size: 20px;
   }

   .options {
      margin-top: -10px;
      overflow: auto;
      color: #eee;

      a {
         color: #fff
      }

      .checkbox {
         text-align: left;
      }

      a.checkbox {
         text-align: right;
      }
   }
}

#passwords
{
   color: white;
   text-align: center;

   h2 {
      margin-top: 0px;
      margin-bottom: 20px;
   }

   .links a { color: white }
}
